# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- Java
- Scala
- Julia

Sum of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R Programming

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

|Data science tools|
|----|
|Jupyter Notebooks |
|Tableau|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [37]:
minutes = 200
hours = minutes/60
print(hours)

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335